{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container mt-3">
  <h1 class="text-warning border-bottom mb-3">Achievements</h1>
  
  <div class="mx-5 my-5 ">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      
      {% for achievement in data %}
      <div class="list-group my-3">
        <a href="{{achievement.link}}" target="_blank" class="list-group-item list-group-item-action " aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{achievement.name}}</h5>
            <small class="badge bg-primary rounded-pill">{{achievement.rank}}</small>
          </div>
          <p class="mb-1">{{achievement.description}}</p>
        </a>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
{% endblock content %}
