{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container mt-3">
  <h1 class="text-warning border-bottom mb-3">Achievements</h1>
  <div class="row text-white">
    <div class="col-sm-5">
      <h3 class="mt-5">HTML/CSS</h3>
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          100%
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-1">
      <h3 class="mt-5">JavaScript</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h3 class="mt-5">Python</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 92%"
          aria-valuenow="92"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          92%
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-1">
      <h3 class="mt-5">C/C++</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h3 class="mt-5">SQL</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 93%"
          aria-valuenow="93"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          93%
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-1">
      <h3 class="mt-5">Django</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h3 class="mt-5">Node</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 94%"
          aria-valuenow="94"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          94%
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-1">
      <h3 class="mt-5">Linux</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <h3 class="mt-5">Java</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 90%"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          90%
        </div>
      </div>
    </div>

    <div class="col-sm-5 offset-1">
      <h3 class="mt-5">React</h3>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: 95%"
          aria-valuenow="95"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          95%
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
