{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="mt-5">
  <div class="text-center">
    <img
      src="{% static 'core/images/hi.png' %}"
      alt="ProfilePic"
      width="250px"
      height="150px"
      class="img-thumbnail border-warning"
      style="border: solid "
    />
  </div>

  <div class="mt-5 text-white mx-5" style="text-align: justify">
    <h1 class="font-weight-bold newfont">Hey there,</h1>
    <div class="text-center mx-5" style="line-height: 2rem">
      <p>
        Hey there,
        I am Prajwal Rai, a final year computer science student at Chandigarh university with a great interest in problem-solving and web development. This is my web resume for showcasing my skills and talent. 
        <br>
        Have a great day.
      </p>
    </div>
  </div>
  <div class="text-center">
    <a href="https://docs.google.com/document/d/1uArwzhLQEtcL9YBaiYtr8Yoh43GhmegZ_b54ZsECy5w/edit?usp=sharing" target="_blank" class="btn btn-outline-warning my-5 mx-5">Resume</a>
  </div>
</div>
{% endblock content %}
