{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="mt-5">
  <div class="text-center">
    <img
      src="{% static 'core/images/help-image.jpeg' %}"
      alt="ProfilePic"
      width="250px"
      height="150px"
      class="img-thumbnail"
    />
  </div>

  <div class="mt-5 text-white mx-5" style="text-align: justify">
    <h1 class="font-weight-bold newfont">Hey there,</h1>
    <div class="px-5 text-center mx-5" style="line-height: 2rem">
      <p>
        Hope you are safe and doing well. I am Prajwal Rai, a computer science engineering pre-final year student and this is my web resume for showcasing my skills and achievements. 
        Hope you like it.
      </p>
    </div>
  </div>
  <div class="text-center">
    <a href="https://docs.google.com/document/d/1uArwzhLQEtcL9YBaiYtr8Yoh43GhmegZ_b54ZsECy5w/edit?usp=sharing" target="_blank" class="btn btn-outline-warning my-5 mx-5">PDF Resume</a>
  </div>
</div>
{% endblock content %}
