{% load static %}
<div class="col-sm-2">
  <div class="border-end border-warning h-100">
    <div class="text-center">
      <img
        src="{% static 'core/images/Photo.jpg' %}"
        alt="ProfilePic"
        class="img-fluid rounded-circle mt-5"
        width="100px"
        height="100px"
      />
      <h1 class="text-white mt-3 newfont">Prajwal Rai</h1>
    </div>
    <hr class="border border-light" />
    <nav class="nav flex-column text-center">
      <a href="{% url 'home' %}" class="nav-link {{home}}">Home</a>
      <a href="{% url 'education' %}" class="nav-link {{education}}"
        >Education</a
      >
      <a href="{% url 'achieve' %}" class="nav-link {{skill}}">Skills</a>
      <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
    </nav>
  </div>
</div>
