/* CORE FONT and Page length */

.newfont {
  font-family: "Corinthia", cursive;
}

html,
body {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
}

/* Education icon color and text color */

.i-color {
  color: chartreuse;
}

.ss-color {
  color: silver;
}

/*   Side bar   */

a.nav-link {
  color: whitesmoke;
}

a.nav-link:hover {
  color: black;
  background-color: #e9cd79;
}

a.nav-link.active {
  color: black;
  background-color: #ffc107;
  font-weight: bold;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.headnavlink{
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 1.5rem;
}


.icon:hover{
  border: solid 3px #ffc107 ;
  transition: all 0.1s ease-in-out;
}