{% extends 'core/base.html' %} 
{% load static %} 

{% block content %}

<div class="container mt-3">
  <h1 class="text-warning mb-5 border-bottom">Projects</h1>

  <div class="container">
    <div class="row">
      {% for project in data %}
        <div class="col-sm-4 my-5">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ project.glimpse.url }}" alt="todo-cli project image">
            <div class="card-body bg-dark text-white">
              <h5 class="card-title">{{project.name}}</h5>
              <p class="card-text"> <strong>Tools: {{project.tools}}</strong></p>
              <p class="card-text">{{project.description}}</p>
              <a href="{{project.link}}" target="_blank" class="btn btn-primary">Checkout</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>  
</div> 

{% endblock content %}
