{% extends 'core/base.html' %} {% load static %} {% block content %}

<div class="container mt-3">
  <h1 class="text-warning mb-5 border-bottom">Certifications</h1>
  <div class="mx-5 my-5">

    <div class="card bg-dark text-white my-5 mx-5">
      <div class="card-body">
        <h5 class="card-title"> Responsive Web Design </h5>
        <p class="card-text"> Responsive Web Design certification by Free Code Camp</p>
        <a target="_blank" href="https://www.freecodecamp.org/certification/prajwal_21/responsive-web-design" class="btn btn-primary">Check Certificate</a>
      </div>
    </div>

    <div class="card bg-dark text-white my-5 mx-5">
      <div class="card-body">
        <h5 class="card-title">Algorithmic Toolbox</h5>
        <p class="card-text">Algorithmic Toolbox course by University of California San Diego from coursera.</p>
        <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/L8PYXUTKJVPG?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary">Check Certificate</a>
      </div>
    </div>

    <div class="card bg-dark text-white my-5 mx-5">
      <div class="card-body">
        <h5 class="card-title">Technical Support Fundamentals</h5>
        <p class="card-text">Technical Support Fundamentals by google from coursera.</p>
        <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/ALYU8A6QNHVK?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary">Check Certificate</a>
      </div>
    </div>

  </div>
{% endblock content %}
