{% extends 'core/base.html' %} {% load static %} {% block content %}

<div class="container mt-3">
  <h1 class="text-warning mb-5 border-bottom">Certifications</h1>
  <div class="mx-5 my-5">
    {% for certificate in data %}
      <div class="card bg-dark text-white my-5 mx-5">
        <div class="card-body">
          <h5 class="card-title"> {{certificate.name}} </h5>
          <p class="card-text"> {{certificate.description}}</p>
          <a target="_blank" href="{{certificate.link}}" class="btn btn-primary">Check Certificate</a>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock content %}
